.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
}

.width-and-height {
    height: 50px;
    width: 50px;
}

.padding {
    padding: 20px;
}

.margin {
    margin: 30px;
}

.border {
    border: 5px solid black;
}

.super-mario{
    width: 300px;
    position: absolute;
    z-index: 1;
}

.goomba {
    width: 300px;
    position: absolute;
    top: 420px;
    z-index: 2;
}

.bowser {
    width: 300px;
    left: 800px;
    position: absolute;
}

.word {
    left: 500px;
    font-family: fantasy;
    position: absolute;
}

